Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

.lintstagedrc.json:

{
  "./src/**/*": "npm run prettier:check",
  "./src/**/*.{css,scss}": "npm run stylelint",
  "./src/**/*.{tsx,jsx,ts}": "npm run lint"
}

fix: fix prettierignore
  .prettierignore
Due: none

feat: add public api for login feature
  src/features/Login/index.ts
  src/pages/LoginPage/LoginPage.tsx
Due: npm run prettier:check, npm run lint

fix: fix action
  src/app/store/types/StateSchema.ts
  src/features/Login/index.ts
  src/features/Login/ui/LoginForm.tsx
Due: npm run prettier:check, npm run lint

fix; fix prettierignore file again
  .prettierignore
Due: none

Feat/add redux (#15)
  .eslintrc.cjs
  .prettierignore
  package-lock.json
  package.json
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/entities/User/index.ts
  src/entities/User/model/types/User.ts
  src/entities/index.tsx
  src/features/Login/index.ts
  src/features/Login/index.tsx
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/model/types/LoginSchema.ts
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/index.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/assets/images/auth_background.webp
  src/shared/assets/images/test_back.jpg
  src/shared/hooks/redux.ts
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/input/input.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add react-hook-form
  package-lock.json
  package.json
Due: none

feat: add react-hook-form (#16)
  package-lock.json
  package.json
Due: none

feat: update jest config, add tests
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  __test__/components.test.js
  __test__/test.js
  babel.config.js
  jest.config.ts
  package-lock.json
  package.json
Due: none

feat: update tests due to redux implementation
  __test__/components.test.js
Due: none

feat: update tests (#17)
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  __test__/components.test.js
  __test__/test.js
  babel.config.js
  jest.config.ts
  package-lock.json
  package.json
Due: none

fix: change configs and eslint rule
  .eslintrc.cjs
  __test__/components.test.js
  __test__/components.test.tsx
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat: add registration page according to RSS-ECOMM-2_09 and RSS-ECOMM-2_10, change input component and login form according to react-hook-form
  package-lock.json
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/index.ts
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add page not found and add scss additional imports
  jest.config.ts
  src/app/App.tsx
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/features/Login/ui/LoginForm.module.scss
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
  src/shared/assets/images/header-img.jpg
  src/shared/assets/images/liana.svg
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/input/input.module.scss
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add page not found and add scss additional imports (#19)
  jest.config.ts
  src/app/App.tsx
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/features/Login/ui/LoginForm.module.scss
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
  src/shared/assets/images/header-img.jpg
  src/shared/assets/images/liana.svg
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/input/input.module.scss
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add loader
  src/shared/assets/images/leaf.svg
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add loader (#20)
  src/shared/assets/images/leaf.svg
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: change snapshot test to render
  __test__/components.test.tsx
Due: none

fix: move regex tests to constants, add validation to password confirm
  jest.config.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/const/Validation.ts
  tsconfig.json
Due: npm run prettier:check, npm run lint

fix: move box-sizing to base style config
  src/app/styles/index.scss
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.module.scss
Due: npm run prettier:check, npm run stylelint

fix: implement error message component
  src/features/Registration/ui/RegistrationFormUser.tsx
Due: npm run prettier:check, npm run lint

feat: add styles for responsive design, add style for invalid input
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/input/input.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix font path
  src/app/styles/fonts/fonts.scss
Due: npm run prettier:check, npm run stylelint

fix: move regex tests to constants, add validation to password confirm
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/const/Validation.ts
  tsconfig.json
Due: npm run prettier:check, npm run lint

feat: add basic router
  src/app/App.tsx
  src/app/providers/Router/Config/routeConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/shared/const/router.ts
  src/shared/types/router.ts
Due: npm run prettier:check, npm run lint

feat: add registration form (#18)
  .eslintrc.cjs
  __test__/components.test.js
  __test__/components.test.tsx
  package-lock.json
  package.json
  src/app/styles/fonts/fonts.scss
  src/app/styles/index.scss
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/index.ts
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/const/Validation.ts
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/input/input.module.scss
  src/shared/ui/input/input.tsx
  tsconfig.json
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: rework router
  src/app/App.tsx
  src/app/providers/Router/Config/routeConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/app/styles/index.scss
  src/features/Registration/ui/RegistrationForm.module.scss
  src/index.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/shared/const/router.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: additional router rework
  src/app/App.tsx
  src/app/providers/Router/Config/routeConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/shared/types/router.ts
Due: npm run prettier:check, npm run lint

refactor: change the value of the parameter generateScopedName
  src/app/styles/index.scss
  src/features/Registration/ui/RegistrationForm.module.scss
  src/pages/RegistrationPage/RegistrationPage.module.scss
  vite.config.ts
Due: npm run prettier:check, npm run stylelint

fix: change vite config (#22)
  src/app/styles/index.scss
  src/features/Registration/ui/RegistrationForm.module.scss
  src/pages/RegistrationPage/RegistrationPage.module.scss
  vite.config.ts
Due: npm run prettier:check, npm run stylelint

feat: add basic router (#21)
  src/app/App.tsx
  src/app/providers/ui/AppRouter.tsx
  src/index.tsx
Due: npm run prettier:check, npm run lint

feat: add basic select component
  src/shared/ui/Select/Select.tsx
  src/shared/ui/Select/select.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add additional registration form fields and their validation router rework
  src/app/styles/index.scss
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/const/Validation.ts
  src/shared/ui/input/input.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: refactor LoginForm
  .eslintrc.cjs
  src/app/providers/ui/AppRouter.tsx
  src/app/styles/index.scss
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/model/types/LoginSchema.ts
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/NotFound/NotFound.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint
