Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

feat: add .vscode/settings.json to .gitignore
  .gitignore
  .vscode/settings.json
Due: none

fix: remove "stylelint": "stylelint ./src" from package.json
  .lintstagedrc.json
  package.json
Due: none

fix: del .stylelintignore
  .stylelintignore
Due: none

refactor: refactor sass imports
  src/app/App.tsx
  src/app/styles/index.scss
  src/shared/ui/appLink/appLink.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: del vite-env.d.ts
  src/vite-env.d.ts
  tsconfig.json
Due: npm run prettier:check, npm run lint

Feat/rss ecomm 2 17 links (#7)
  .gitattributes
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/index.tsx
  src/shared/assets/fonts/montserrat-v26-latin-500.woff2
  src/shared/assets/fonts/montserrat-v26-latin-600.woff2
  src/shared/assets/fonts/montserrat-v26-latin-800.woff2
  src/shared/ui/appLink/appLink.scss
  src/shared/ui/appLink/appLink.tsx
  tsconfig.json
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add modal-wrapper component
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/shared/ui/modal/modal.scss
  src/shared/ui/modal/modal.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add modal-wrapper component (#8)
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/shared/ui/modal/modal.scss
  src/shared/ui/modal/modal.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: fonts refactor
  src/app/styles/fonts/fonts.scss
  src/app/styles/index.scss
  src/app/styles/mixins/mixins.scss
Due: npm run prettier:check, npm run stylelint

feat: add global types for png
  src/app/types/global.d.ts
Due: npm run prettier:check, npm run lint

feat: add reset.css
  package-lock.json
  package.json
  src/app/styles/index.scss
Due: npm run prettier:check, npm run stylelint

feat: add images for auth pages
  src/shared/assets/images/auth_background.png
  src/shared/assets/images/logo.svg
Due: npm run prettier:check

feat: add arrow function declaration
  .eslintrc.cjs
Due: none

feat: change png to webp image
  src/app/types/global.d.ts
  src/shared/assets/images/auth_background.png
  src/shared/assets/images/auth_background.webp
Due: npm run prettier:check, npm run lint

feat: add basic Login Page
  .stylelintrc.json
  src/app/App.tsx
  src/app/styles/index.scss
  src/index.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/modal/modal.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

Update README.md
  README.md
Due: none

docs: update readme
  README.md
Due: none

feat: add documentation (#10)
  README.md
Due: none

feat: remove default props rule and unused-vars
  .eslintrc.cjs
Due: none

remove jsonsettings
  .vscode/settings.json
Due: none

feat: rename page to AuthPage, remove defaultProps
  src/app/styles/fonts/fonts.scss
  src/pages/AuthPage/AuthPage.module.scss
  src/pages/AuthPage/AuthPage.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/shared/ui/appLink/AppLink.module.scss
  src/shared/ui/appLink/appLink.tsx
  src/shared/ui/modal/modal.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add base to vite config
  vite.config.ts
Due: none

refactor: refactor AppLink
  src/shared/ui/appLink/AppLink.module.scss
  src/shared/ui/appLink/AppLink.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: remove AppLink
  src/shared/ui/appLink/AppLink.tsx
Due: npm run prettier:check, npm run lint

feat: add classNames library
  .eslintrc.cjs
  package-lock.json
  package.json
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/AppLink/AppLink.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add alias to the project, rename page
  .eslintrc.cjs
  src/app/App.tsx
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/pages/AuthPage/AuthPage.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  tsconfig.json
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add basic auth page (#11)
  .eslintrc.cjs
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/styles/fonts/fonts.scss
  src/app/styles/index.scss
  src/app/styles/mixins/mixins.scss
  src/app/styles/variables/global.scss
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/index.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/assets/images/auth_background.webp
  src/shared/assets/images/logo.svg
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/appLink/appLink.tsx
  tsconfig.json
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add loginForm
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/index.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/AppLink/AppLink.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add public api for loginForm
  src/features/Login/index.tsx
  src/features/Login/ui/LoginForm.tsx
  src/features/index.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/index.tsx
  src/shared/index.tsx
Due: npm run prettier:check, npm run lint

feat: add loginForm (#12)
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/features/Login/index.tsx
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/features/index.tsx
  src/index.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/index.tsx
  src/shared/index.tsx
  src/shared/ui/AppLink/AppLink.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add input component
  package.json
  src/features/Login/ui/LoginForm.tsx
  src/shared/ui/input/input.module.scss
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: disabled rule jsx-a11y/label-has-associated-control
  .eslintrc.cjs
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run lint

feat: replace bg image
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/assets/images/test_back.jpg
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add button component
  .prettierignore
  src/features/Login/ui/LoginForm.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/page components (#13)
  .eslintrc.cjs
  .prettierignore
  package.json
  src/features/Login/ui/LoginForm.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/assets/images/test_back.jpg
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
  src/shared/ui/input/input.module.scss
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add AppError
  src/app/styles/variables/global.scss
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/AppError/AppError.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/page components (#14)
  src/app/styles/variables/global.scss
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/AppError/AppError.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add redux toolkit to the project, add basic slice, async func
  .eslintrc.cjs
  .prettierignore
  package-lock.json
  package.json
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/entities/User/index.ts
  src/entities/User/model/types/User.ts
  src/entities/index.tsx
  src/features/Login/index.tsx
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/model/types/LoginSchema.ts
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/index.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/assets/images/auth_background.webp
  src/shared/assets/images/test_back.jpg
  src/shared/hooks/redux.ts
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/input/input.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

Path conditions:
  npm run prettier:check: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
