Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

feat: add button remove and add to cart
  src/entities/Cart/model/services/removeProduct.ts
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: removeProduct function
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/removeProduct.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.scss
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add productCard in cart
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/CartPage/ui/productCard/productCard.scss
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add about page
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/AboutUsPage/ui/AboutUsPage.module.scss
  src/pages/AboutUsPage/ui/AboutUsPage.tsx
  src/shared/assets/images/Natali.webp
  src/shared/assets/images/Nikita.webp
  src/shared/assets/images/leaf.png
  src/shared/assets/images/rsschool-logo.svg
  src/shared/assets/images/sofia.webp
  src/shared/const/Developers.ts
  src/shared/ui/DeveloperCard/ui/DeveloperCard.module.scss
  src/shared/ui/DeveloperCard/ui/DeveloperCard.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add about page (#80)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/AboutUsPage/ui/AboutUsPage.module.scss
  src/pages/AboutUsPage/ui/AboutUsPage.tsx
  src/shared/assets/images/Natali.webp
  src/shared/assets/images/Nikita.webp
  src/shared/assets/images/leaf.png
  src/shared/assets/images/rsschool-logo.svg
  src/shared/assets/images/sofia.webp
  src/shared/const/Developers.ts
  src/shared/ui/DeveloperCard/ui/DeveloperCard.module.scss
  src/shared/ui/DeveloperCard/ui/DeveloperCard.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add updateQuantity
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/updateQuantity.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/shared/assets/images/minus.svg
  src/shared/assets/images/plant_for_cart_1.png
  src/shared/assets/images/plant_for_cart_2.png
  src/shared/assets/images/plus.svg
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: improve shopping cart adaptability
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/productCard/productCard.module.scss
Due: npm run prettier:check, npm run stylelint

Feat/rss ecomm change product page (#81)
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/removeProduct.ts
  src/entities/Cart/model/services/updateQuantity.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/minus.svg
  src/shared/assets/images/plant_for_cart_1.png
  src/shared/assets/images/plant_for_cart_2.png
  src/shared/assets/images/plus.svg
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add facets for brands
  src/features/Breadcrumbs/ui/Breadcrumbs.tsx
  src/features/Filters/ui/FilterItem.tsx
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/shared/api/index.ts
  src/shared/api/requests/getFilterSortSearchProducts.ts
Due: npm run prettier:check, npm run lint

feat: add Remove Item from cart
  src/entities/Cart/index.ts
  src/entities/Cart/model/services/addToCart.ts
  src/entities/Cart/model/services/removeProduct.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/util/LocalStorageHandler.ts
Due: npm run prettier:check, npm run lint

feat: add updateQuantity functional
  src/entities/Cart/index.ts
  src/entities/Cart/model/services/updateQuantity.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.module.scss
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/requests/updateCart.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add clearCart functional
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/addToCart.ts
  src/entities/Cart/model/services/cartThunk.ts
  src/entities/Cart/model/services/removeProduct.ts
  src/entities/Cart/model/services/updateQuantity.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
Due: npm run prettier:check, npm run lint

feat: add cart for logined user
  src/entities/Cart/model/slice/cartSlice.ts
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/requests/loginUser.ts
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run lint

feat: rss ecomm 4 12 cart (#82)
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/addToCart.ts
  src/entities/Cart/model/services/cartThunk.ts
  src/entities/Cart/model/services/removeProduct.ts
  src/entities/Cart/model/services/updateQuantity.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/features/Breadcrumbs/ui/Breadcrumbs.tsx
  src/features/Filters/ui/FilterItem.tsx
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/CartPage/ui/productCard/productCard.tsx
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.module.scss
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/util/LocalStorageHandler.ts
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add invoice block
  src/entities/Cart/model/services/cartThunk.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/cart.png
  src/shared/assets/images/plant_for_cart_2.png
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add invoice block (#83)
  src/entities/Cart/model/services/cartThunk.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/cart.png
  src/shared/assets/images/plant_for_cart_2.png
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add invoice data from Local Storage
  src/entities/Cart/model/slice/cartSlice.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/shared/api/requests/signUpUser.ts
  src/shared/api/requests/updateCart.ts
  src/widgets/Footer/Footer.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add modal o Clear Cart button click
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
  src/shared/ui/modal/modal.module.scss
  src/shared/ui/modal/modal.scss
  src/shared/ui/modal/modal.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: test transition
  src/app/App.tsx
Due: npm run prettier:check, npm run lint

feat: add message on incorrect promocode
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/cartThunk.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCart.ts
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/button/button.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add promoCode reset functional
  src/entities/Cart/model/services/cartThunk.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rss ecomm 4 13 total cost (#85)
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/cartThunk.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/signUpUser.ts
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/ui/AppError/AppError.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
  src/shared/ui/modal/modal.module.scss
  src/shared/ui/modal/modal.scss
  src/shared/ui/modal/modal.tsx
  src/widgets/Footer/Footer.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change wrapper height
  src/pages/CartPage/ui/CartPage.module.scss
Due: npm run prettier:check, npm run stylelint

feat: add cart length to icon
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add styles to burger icon
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: handle cart update on login
  src/features/Login/model/services/loginThunk.ts
Due: npm run prettier:check, npm run lint

fix: handle custom url
  src/entities/Cart/model/slice/cartSlice.ts
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run lint

refactor: change wrapper height (#86)
  src/pages/CartPage/ui/CartPage.module.scss
Due: npm run prettier:check, npm run stylelint

feat: add page transition
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint

feat: RSS-ECOMM_addCartIcon (#87)
  src/entities/Cart/model/slice/cartSlice.ts
  src/features/Login/model/services/loginThunk.ts
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix strange routing bug
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run prettier:check, npm run lint

refactor: change the height of the loader and fixed font loading warning
  index.html
  src/app/styles/fonts/fonts.scss
  src/app/styles/index.scss
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/shared/assets/fonts/montserrat-v26-latin-500.woff2
  src/shared/assets/fonts/montserrat-v26-latin-600.woff2
  src/shared/assets/fonts/montserrat-v26-latin-800.woff2
  vite.config.ts
Due: npm run prettier:check, npm run stylelint

Fixed font loading warning, change the height of the loader on cart page (#89)
  index.html
  src/app/styles/fonts/fonts.scss
  src/app/styles/index.scss
  src/pages/CartPage/ui/productCard/productCard.module.scss
  src/shared/assets/fonts/montserrat-v26-latin-500.woff2
  src/shared/assets/fonts/montserrat-v26-latin-600.woff2
  src/shared/assets/fonts/montserrat-v26-latin-800.woff2
  vite.config.ts
Due: npm run prettier:check, npm run stylelint

fix: fix routing
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

fix: fix routing (#91)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

fix: fix routing (#92)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

fix: fix catalog page products loading
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

fix: change price color
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/shared/ui/ProductCard/ProductCard.module.scss
Due: npm run prettier:check, npm run stylelint

feat: add padding to description
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
Due: npm run prettier:check, npm run stylelint

Path conditions:
  npm run prettier:check: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
