Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

fix: delete comments
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
Due: npm run prettier:check, npm run lint

feat: add description to the card, add brand filter
  src/app/styles/index.scss
  src/features/CatalogSortSelector/ui/CatalogSortSelector.module.scss
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
  src/shared/ui/Icon/Icon.tsx
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fea: change reset button color
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add price filter
  package-lock.json
  package.json
  src/app/styles/index.scss
  src/features/Filters/index.ts
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
  src/features/Filters/ui/SelectedItems/SelectedItems.module.scss
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: refactor product
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
Due: npm run prettier:check, npm run lint

Feat/rss ecomm 3 09-13 (#58)
  package-lock.json
  package.json
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/index.tsx
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/ProductSlider/productSlider.tsx
  src/pages/ProductPage/similarPrompts/similarProducts.module.scss
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
  src/shared/api/requests/getProductsByCategory.tsx
  src/shared/assets/images/Group 17.webp
  src/shared/ui/Card/Card.tsx
  src/widgets/Footer/Footer.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add price filter logic
  package-lock.json
  src/app/types/global.d.ts
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add wrapper button to product image
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/ProductSlider/productSlider.tsx
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add aria-label
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductSlider/productSlider.tsx
Due: npm run prettier:check, npm run lint

feat: add filter by subcategory
  src/app/styles/variables/global.scss
  src/features/CatalogSortSelector/ui/CatalogSortSelector.module.scss
  src/features/Filters/ui/FilterItem.module.scss
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.module.scss
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.module.scss
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/all_products_icon.png
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/ProductCard/ProductCard.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

Add wrapper button to product image (#61)
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/ProductSlider/productSlider.tsx
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add link to card
  src/app/styles/variables/global.scss
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change navigation buttons in the modal
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat:rss ecomm 3 03 price filter (#60)
  package-lock.json
  package.json
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/app/types/global.d.ts
  src/features/CatalogSortSelector/ui/CatalogSortSelector.module.scss
  src/features/Filters/index.ts
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
  src/features/Filters/ui/SelectedItems/SelectedItems.module.scss
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.module.scss
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.module.scss
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/all_products_icon.png
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/ProductCard/ProductCard.module.scss
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

test: show outlet
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

feat: add product key
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier:check, npm run lint

feat: add filtration by Category
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.module.scss
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add filtration by Category (#65)
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.module.scss
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Change product page (#64)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: use enum instead of literal
  src/app/providers/RouterConfig/RouteConfig.tsx
Due: npm run prettier:check, npm run lint

feat: add loading animation
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add update password functionality
  src/pages/ProfilePage/model/services/updatePassword.ts
  src/pages/ProfilePage/ui/PersonalDataSection/ChangePasswordModal/ChangePasswordModal.module.scss
  src/pages/ProfilePage/ui/PersonalDataSection/ChangePasswordModal/ChangePasswordModal.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change image block
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/ProductSlider/productSlider.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: rework buttons, add loading animation
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.module.scss
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add address card component
  src/shared/ui/AddressCard/AddressCard.module.scss
  src/shared/ui/AddressCard/AdressCard.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: change return values to null according to react router documentation
  src/features/Loader/LoadClient.ts
Due: npm run prettier:check, npm run lint

feat: add api request for add/edit/delete address
  src/shared/api/requests/addCustomerAddress.ts
  src/shared/api/requests/deleteCustomerAddress.ts
  src/shared/api/requests/editCustomerAddress.ts
Due: npm run prettier:check, npm run lint

refactor: delete comment
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint

refactor: add Destructuring assignment
  src/pages/ProfilePage/model/services/getShippingAddresses.ts
Due: npm run prettier:check, npm run lint

feat: add addresses section
  src/pages/ProfilePage/ui/AddressesSection/AddressesSection.module.scss
  src/pages/ProfilePage/ui/AddressesSection/AddressesSection.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add addresses modal
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.module.scss
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add profile page
  src/pages/ProfilePage/ui/ProfilePage.module.scss
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: RSS-ECOMM_addCustomerProfile (#67)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/features/Loader/LoadClient.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/ProfilePage/model/services/getShippingAddresses.ts
  src/pages/ProfilePage/model/services/updatePassword.ts
  src/pages/ProfilePage/ui/AddressesSection/AddressesSection.module.scss
  src/pages/ProfilePage/ui/AddressesSection/AddressesSection.tsx
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.module.scss
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/ChangePasswordModal/ChangePasswordModal.module.scss
  src/pages/ProfilePage/ui/PersonalDataSection/ChangePasswordModal/ChangePasswordModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.module.scss
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/pages/ProfilePage/ui/ProfilePage.module.scss
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/api/requests/addCustomerAddress.ts
  src/shared/api/requests/deleteCustomerAddress.ts
  src/shared/api/requests/editCustomerAddress.ts
  src/shared/ui/AddressCard/AddressCard.module.scss
  src/shared/ui/AddressCard/AdressCard.tsx
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add breadcrumbs
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/features/Breadcrumbs/ui/Breadcrumbs.module.scss
  src/features/Breadcrumbs/ui/Breadcrumbs.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/shared/ui/AppLink/AppLink.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add similar product link
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/similarPrompts/SliderForSimilar.tsx
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
Due: npm run prettier:check, npm run lint

feat: add breadcrumbs (#68)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/features/Breadcrumbs/ui/Breadcrumbs.module.scss
  src/features/Breadcrumbs/ui/Breadcrumbs.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/shared/ui/AppLink/AppLink.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change gap similar section
  src/pages/ProductPage/similarPrompts/similarProducts.module.scss
Due: npm run prettier:check, npm run stylelint

refactor: change slider and add route by invalid product key
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/similarPrompts/SliderForSimilar.tsx
Due: npm run prettier:check, npm run lint

Change product page (#69)
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/ProductSlider/productSlider.tsx
  src/pages/ProductPage/similarPrompts/SliderForSimilar.tsx
  src/pages/ProductPage/similarPrompts/similarProducts.module.scss
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Path conditions:
  npm run prettier:check: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
