Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

feat: add MathRandom function and productCard component
  src/shared/ui/ProductCard/ProductCard.module.scss
  src/shared/ui/ProductCard/ProductCard.tsx
  src/shared/util/MathRandom.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add salesBlock, fetch categories, fetch discountProducts
  src/pages/CatalogPage/model/services/fetchCategories.ts
  src/pages/CatalogPage/model/services/fetchDiscountProducts.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/Slider.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getDiscountProducts.ts
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/ProductCard/ProductCard.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add product page and product slider
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/shared/api/requests/getProduct.ts
  src/shared/ui/ProductSlider/productSlider.module.scss
  src/shared/ui/ProductSlider/productSlider.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add prices
  src/app/styles/mixins/mixins.scss
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/shared/ui/ProductSlider/productSlider.module.scss
  src/shared/ui/ProductSlider/productSlider.tsx
  src/shared/util/converterPrice.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/rss ecomm 3 01 start catalog page (#53)
  src/pages/CatalogPage/model/services/fetchCategories.ts
  src/pages/CatalogPage/model/services/fetchDiscountProducts.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/Slider.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getDiscountProducts.ts
  src/shared/assets/images/sales-leaf.svg
  src/shared/assets/images/star.svg
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/ProductCard/ProductCard.module.scss
  src/shared/ui/ProductCard/ProductCard.tsx
  src/shared/ui/Title/Title.module.scss
  src/shared/ui/Title/Title.tsx
  src/shared/util/MathRandom.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add FAQ block
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/shared/api/requests/getProductsByTypeId.tsx
  src/shared/assets/images/No-Image.webp
  src/shared/assets/images/plantFromProductPage.png
  src/shared/ui/ProductSlider/productSlider.module.scss
  src/shared/ui/ProductSlider/productSlider.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add padding to slider
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/shared/ui/ProductSlider/productSlider.module.scss
  src/shared/ui/ProductSlider/productSlider.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/rss ecomm 3 09 (#54)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/styles/mixins/mixins.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/shared/api/requests/getProduct.ts
  src/shared/api/requests/getProductsByTypeId.tsx
  src/shared/assets/images/No-Image.webp
  src/shared/assets/images/plantFromProductPage.png
  src/shared/ui/ProductSlider/productSlider.module.scss
  src/shared/ui/ProductSlider/productSlider.tsx
  src/shared/util/converterPrice.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add slider's arrows
  src/app/styles/index.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/Slider.tsx
  src/shared/assets/images/next-slide.svg
  src/shared/assets/images/prev-slide.svg
  src/shared/ui/ProductCard/ProductCard.tsx
  src/shared/ui/SliderArrows/SliderArrowNext.tsx
  src/shared/ui/SliderArrows/SliderArrowPrev.tsx
  src/shared/ui/SliderArrows/SliderArrows.module.scss
  src/shared/ui/Title/Title.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: change regex for email field
  src/shared/const/Validation.ts
Due: npm run prettier:check, npm run lint

feat: add toast notification
  package-lock.json
  package.json
  src/index.tsx
  src/shared/const/ToastConfig.ts
Due: npm run prettier:check, npm run lint

feat: improve router config readability
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint

feat: add getShipping/Billing address func
  src/pages/ProfilePage/model/services/getBillingAddresses.ts
  src/pages/ProfilePage/model/services/getShippingAddresses.ts
Due: npm run prettier:check, npm run lint

feat: add profile page and personal info section
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/styles/variables/global.scss
  src/features/Loader/LoadClient.ts
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.module.scss
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/pages/ProfilePage/ui/ProfilePage.module.scss
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/api/requests/getCustomer.ts
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/ui/AddressCard/AddressCard.module.scss
  src/shared/ui/AddressCard/AdressCard.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add categoriesBlock
  src/app/styles/index.scss
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.module.scss
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/accessories_icon.png
  src/shared/assets/images/categories_leaf.svg
  src/shared/assets/images/home_icon.png
  src/shared/assets/images/personal_care_icon.png
  src/shared/assets/images/tableware_icon.png
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/SectionSeparator/SectionSeparator.module.scss
  src/shared/ui/SectionSeparator/SectionSeparator.tsx
  src/shared/ui/Title/Title.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add AllProducts block
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getAllProducts.ts
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add adaptive to catalog page
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/Slider.tsx
  src/shared/ui/SliderArrows/SliderArrows.module.scss
  src/shared/ui/Title/Title.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix burger menu scroll
  src/shared/ui/AppLink/AppLink.tsx
  src/widgets/Header/Header.tsx
  src/widgets/Header/util/HideScroll.ts
  src/widgets/Header/util/ShowScroll.ts
Due: npm run prettier:check, npm run lint

fix: fix burger menu scroll (#56)
  src/shared/ui/AppLink/AppLink.tsx
  src/widgets/Header/Header.tsx
  src/widgets/Header/util/HideScroll.ts
  src/widgets/Header/util/ShowScroll.ts
Due: npm run prettier:check, npm run lint

feat: finish catalogPage design
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getCategories.ts
  src/shared/api/requests/getCategoryById.ts
  src/shared/api/requests/getProductTypeById.ts
  src/shared/ui/SliderArrows/SliderArrows.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rss ecomm 3 02 all products (#57)
  src/app/styles/index.scss
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.module.scss
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/Slider.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getAllProducts.ts
  src/shared/api/requests/getCategories.ts
  src/shared/api/requests/getCategoryById.ts
  src/shared/api/requests/getProductTypeById.ts
  src/shared/assets/images/accessories_icon.png
  src/shared/assets/images/categories_leaf.svg
  src/shared/assets/images/home_icon.png
  src/shared/assets/images/next-slide.svg
  src/shared/assets/images/personal_care_icon.png
  src/shared/assets/images/prev-slide.svg
  src/shared/assets/images/tableware_icon.png
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/ProductCard/ProductCard.tsx
  src/shared/ui/SectionSeparator/SectionSeparator.module.scss
  src/shared/ui/SectionSeparator/SectionSeparator.tsx
  src/shared/ui/SliderArrows/SliderArrowNext.tsx
  src/shared/ui/SliderArrows/SliderArrowPrev.tsx
  src/shared/ui/SliderArrows/SliderArrows.module.scss
  src/shared/ui/Title/Title.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: disassembled the product page into components
  package.json
  src/pages/ProductPage/BlockFAQ/FAQ.tsx
  src/pages/ProductPage/BlockFAQ/blockFAQ.module.scss
  src/pages/ProductPage/ProductPage.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/ProductSlider/productSlider.tsx
  src/pages/ProductPage/productCard/productCard.module.scss
  src/pages/ProductPage/productCard/productCard.tsx
  src/shared/assets/images/Group 17.webp
  src/widgets/Footer/Footer.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: remove logic in one asyncFunc
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/features/Login/ui/LoginForm.tsx
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchCategories.ts
  src/pages/CatalogPage/model/services/fetchDiscountProducts.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add loading animation on selected product
  src/pages/CatalogPage/model/services/getProductPath.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
Due: npm run prettier:check, npm run lint

feat: add real images
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/bag_image.jpg
  src/shared/assets/images/candle_image.jpg
  src/shared/assets/images/case_image.jpg
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add change password func
  src/pages/ProfilePage/ui/ChangePasswordModal/ChangePasswordModal.module.scss
  src/pages/ProfilePage/ui/ChangePasswordModal/ChangePasswordModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/api/requests/updatePassword.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add search input
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/product_1.png
  src/shared/assets/images/product_2.png
  src/shared/assets/images/product_3.png
  src/shared/hooks/useDebounce.ts
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add sorting
  src/features/CatalogSortSelector/index.ts
  src/features/CatalogSortSelector/ui/CatalogSortSelector.module.scss
  src/features/CatalogSortSelector/ui/CatalogSortSelector.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/searchFilerSort.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
  src/shared/const/SortingParams.ts
  src/shared/ui/Select/Select.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: small fixes
  src/features/CatalogSortSelector/ui/CatalogSortSelector.module.scss
  src/shared/const/SortingParams.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: add product card block
  package-lock.json
  package.json
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.module.scss
  src/pages/ProductPage/productCard/productCard.tsx
  src/pages/ProductPage/similarPrompts/similarProducts.module.scss
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: implement SimilarPrompts section
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
  src/shared/api/requests/getProductsByCategory.tsx
Due: npm run prettier:check, npm run lint

fix: changes according to mentor review
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/features/Loader/LoadClient.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/index.ts
  src/features/Registration/model/services/signUpThunk.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/ProfilePage/model/services/getBillingAddresses.ts
  src/pages/ProfilePage/model/services/updateCustomer.ts
  src/pages/ProfilePage/ui/ChangePasswordModal/ChangePasswordModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/api/requests/getCustomer.ts
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/const/ToastConfig.ts
Due: npm run prettier:check, npm run lint

fix: add forgotten '??'
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: npm run prettier:check, npm run lint

feat: RSS-ECOMM_addProfilePage (#55)
  package-lock.json
  package.json
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/app/styles/variables/global.scss
  src/features/Loader/LoadClient.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/index.ts
  src/features/Registration/model/services/signUpThunk.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/index.tsx
  src/pages/ProfilePage/model/services/getBillingAddresses.ts
  src/pages/ProfilePage/model/services/getShippingAddresses.ts
  src/pages/ProfilePage/model/services/updateCustomer.ts
  src/pages/ProfilePage/ui/ChangePasswordModal/ChangePasswordModal.module.scss
  src/pages/ProfilePage/ui/ChangePasswordModal/ChangePasswordModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.module.scss
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/pages/ProfilePage/ui/ProfilePage.module.scss
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/api/requests/getCustomer.ts
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/api/requests/updatePassword.ts
  src/shared/const/ToastConfig.ts
  src/shared/const/Validation.ts
  src/shared/ui/AddressCard/AddressCard.module.scss
  src/shared/ui/AddressCard/AdressCard.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add discounted prices in AllProducts block
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add an image without a picture
  src/pages/ProductPage/similarPrompts/similarProducts.module.scss
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change ValidationErrors to ValidationMessages
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/ProfilePage/ui/ChangePasswordModal/ChangePasswordModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/const/Validation.ts
Due: npm run prettier:check, npm run lint

fix: fix paths
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CategoriesBlock/CategoriesBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
Due: npm run prettier:check, npm run lint

feat: add modal
  package-lock.json
  package.json
  src/index.tsx
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.tsx
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProductPage/ProductSlider/productSlider.tsx
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add hover to modal buttons
  package.json
  src/pages/ProductPage/ProductCardBlock/ProductCardBlock.module.scss
Due: npm run prettier:check, npm run stylelint

Path conditions:
  npm run prettier:check: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
