Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

.lintstagedrc.json:

{
  "./src/**/*": "npm run prettier:check",
  "./src/**/*.{css,scss}": "npm run stylelint",
  "./src/**/*.{tsx,jsx,ts}": "npm run lint"
}

refactor: modify product files
  src/shared/assets/images/product_1.png
  src/shared/assets/images/product_2.png
  src/shared/assets/images/product_3.png
Due: npm run prettier:check

refactor: upload the modified files images
  src/shared/assets/images/product_1.png
  src/shared/assets/images/product_3.png
Due: npm run prettier:check

refactor: change button component
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run lint

refactor: change class buttonMore
  src/pages/MainPage/MainPage.module.scss
Due: npm run prettier:check, npm run stylelint

feat: add linear gradient to video container
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/main block (#33)
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/icon_insta.png
  src/shared/assets/images/icon_telegram.png
  src/shared/assets/images/icon_youtube.png
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add new commerceTools API
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/entities/User/index.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/User.ts
  src/features/Login/index.ts
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/services/loginThunk.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/model/services/signUpUser.ts
  src/features/Registration/model/slice/signUpUserSlice.ts
  src/features/Registration/model/types/Registration.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/index.ts
  src/shared/api/requests.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/signUpUser.ts
  src/shared/api/tokenHandlers.ts
  src/shared/const/Countries.ts
  src/shared/const/Validation.ts
  src/shared/types/RegistrationSubmitData.ts
Due: npm run prettier:check, npm run lint

feat: add wrapper
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add error messages and exit function
  src/app/store/types/StateSchema.ts
  src/features/Login/model/services/loginThunk.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/ui/AppLink/AppLink.tsx
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix according mentor's comments
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/model/services/signUpUser.ts
  src/pages/MainPage/MainPage.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/signUpUser.ts
  src/shared/const/LocalStorage.ts
  src/shared/const/Validation.ts
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run lint

refactor: change buttons to links
  package-lock.json
  package.json
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: create an enum with a list of countries
  src/shared/const/Countries.ts
Due: npm run prettier:check, npm run lint

feat: change the gradient type
  src/pages/MainPage/MainPage.module.scss
Due: npm run prettier:check, npm run stylelint

refactor: change the alt of social network icons
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run lint

Feat/commercetools api (#34)
  package-lock.json
  package.json
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/entities/User/index.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/User.ts
  src/features/Login/index.ts
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/services/loginThunk.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/model/services/signUpUser.ts
  src/features/Registration/model/slice/signUpUserSlice.ts
  src/features/Registration/model/types/Registration.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/index.ts
  src/shared/api/requests.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/signUpUser.ts
  src/shared/api/tokenHandlers.ts
  src/shared/const/Countries.ts
  src/shared/const/LocalStorage.ts
  src/shared/const/Validation.ts
  src/shared/types/RegistrationSubmitData.ts
  src/shared/ui/AppLink/AppLink.tsx
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: add change according to new component
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  __test__/components.test.tsx
Due: none

feat: add logout functionality
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run lint

fix: add suitable variable name
  src/shared/api/requests/loginUser.ts
Due: npm run prettier:check, npm run lint

fix: remove unnecessary error cases
  src/features/Registration/model/services/signUpUser.ts
Due: npm run prettier:check, npm run lint

fix: fix background image
  src/pages/RegistrationPage/RegistrationPage.module.scss
Due: npm run prettier:check, npm run stylelint

feat: add protected roots
  src/pages/LoginPage/LoginPage.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/util/isLogged.ts
Due: npm run prettier:check, npm run lint

feat: add scroll after redirect
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run lint

feat: handle login after registration
  src/features/Registration/ui/RegistrationFormUser.tsx
Due: npm run prettier:check, npm run lint

fix: handle top level await error
  vite.config.ts
Due: none

feat: handle postal codes and default adress for registration
  src/shared/api/requests/signUpUser.ts
Due: npm run prettier:check, npm run lint

feat: add additional info to the not found page
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
  src/shared/assets/images/icon_instagram.png
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add hover to icon
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add component Logo with hover and link, add link to main in not found page
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
  src/shared/ui/Logo/Logo.module.scss
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/ add Logo and additional info in page Not Found (#36)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/pages/NotFound/NotFound.tsx
  src/shared/assets/images/icon_instagram.png
  src/shared/ui/Logo/Logo.module.scss
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rework registration api request
  src/features/Registration/model/services/signUpThunk.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/api/requests/signUpUser.ts
Due: npm run prettier:check, npm run lint

feat: implement route transitions animation
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/app/providers/ui/AppRouterTransitions.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: handle redirection (#35)
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  __test__/components.test.tsx
  src/features/Registration/model/services/signUpThunk.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/signUpUser.ts
  src/shared/util/isLogged.ts
  src/widgets/Header/Header.tsx
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: delete the second version of the animation
  src/app/providers/ui/AppRouterTransitions.scss
Due: npm run prettier:check, npm run stylelint

feat: add redirects file
  public/_redirects
Due: none

feat: add redirects file (#38)
  public/_redirects
Due: none

feat: add favicon
  index.html
  src/shared/assets/images/favicon.svg
Due: npm run prettier:check

Feat/implement route transitions animation (#37)
  index.html
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/app/providers/ui/AppRouterTransitions.scss
  src/shared/assets/images/favicon.svg
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix regex validation
  src/shared/const/Countries.ts
  src/shared/const/Validation.ts
Due: npm run prettier:check, npm run lint

fix: rework signUp to work with thunk, fix error throw
  src/features/Registration/model/services/signUpThunk.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/api/requests/signUpUser.ts
Due: npm run prettier:check, npm run lint

fix: rollback router change
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint
