Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

feat: add toast to product page
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier:check, npm run lint

fix: fix add new address request
  src/shared/api/requests/addCustomerAddress.ts
Due: npm run prettier:check, npm run lint

fix: fix postal code bug
  package-lock.json
  package.json
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.tsx
Due: npm run prettier:check, npm run lint

feat: add validity check of the product address
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier:check, npm run lint

Refactor/change product page (#71)
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier:check, npm run lint

fix: RSS-ECOMM_ adressBug_postalCodebug (#70)
  package-lock.json
  package.json
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.tsx
  src/shared/api/requests/addCustomerAddress.ts
Due: npm run prettier:check, npm run lint

refactor: hide icons for logged in user
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run lint

refactor: rework toast call and redirect route
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier:check, npm run lint

refactor: add function to set local storage version value
  src/shared/api/requests/addCustomerAddress.ts
  src/shared/api/requests/deleteCustomerAddress.ts
  src/shared/api/requests/editCustomerAddress.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/api/requests/updatePassword.ts
  src/shared/util/LocalStorageHandler.ts
Due: npm run prettier:check, npm run lint

refactor: move business logic to model/services
  src/pages/ProfilePage/model/services/deleteAddress.ts
  src/pages/ProfilePage/model/services/editAddress.ts
  src/pages/ProfilePage/model/services/getShippingAddresses.ts
  src/pages/ProfilePage/model/services/updateCustomer.ts
  src/pages/ProfilePage/model/services/updatePassword.ts
  src/pages/ProfilePage/ui/AddressesSection/AddressesSection.tsx
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/api/requests/updatePassword.ts
Due: npm run prettier:check, npm run lint

refactor: remove border for breadcrumbs
  src/features/Breadcrumbs/ui/Breadcrumbs.module.scss
Due: npm run prettier:check, npm run stylelint

fix: fix selectedItems
  src/features/Filters/ui/SelectedItems/SelectedItems.module.scss
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add products filtration from url
  src/app/styles/index.scss
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/services/getAdditionalInfo.ts
  src/pages/CatalogPage/model/services/getCategoriesByKey.ts
  src/pages/CatalogPage/model/services/getProductPath.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.module.scss
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getCategoryByKey.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: remove border from breadCrumbs
  src/features/Breadcrumbs/ui/Breadcrumbs.module.scss
  src/features/Breadcrumbs/ui/Breadcrumbs.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: RSS-ECOMM_codeOptimization (#72)
  src/features/Breadcrumbs/ui/Breadcrumbs.module.scss
  src/pages/ProductPage/ProductPage.tsx
  src/pages/ProfilePage/model/services/deleteAddress.ts
  src/pages/ProfilePage/model/services/editAddress.ts
  src/pages/ProfilePage/model/services/getShippingAddresses.ts
  src/pages/ProfilePage/model/services/updateCustomer.ts
  src/pages/ProfilePage/model/services/updatePassword.ts
  src/pages/ProfilePage/ui/AddressesSection/AddressesSection.tsx
  src/pages/ProfilePage/ui/EditAddressModal/EditAddressModal.tsx
  src/pages/ProfilePage/ui/PersonalDataSection/PersonalDataSection.tsx
  src/shared/api/requests/addCustomerAddress.ts
  src/shared/api/requests/deleteCustomerAddress.ts
  src/shared/api/requests/editCustomerAddress.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCustomerInfo.ts
  src/shared/api/requests/updatePassword.ts
  src/shared/util/LocalStorageHandler.ts
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add brands selection
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/shared/api/requests/getFilterSortSearchProducts.ts
Due: npm run prettier:check, npm run lint

feat: rework jest config, add tests for button and AddressCard
  __test__/components.test.tsx
  __test__/sharedComponents/AddressCard/addressCard.test.tsx
  __test__/sharedComponents/button/button.test.tsx
  jest.config.ts
  package.json
  src/shared/ui/AddressCard/AdressCard.tsx
Due: npm run prettier:check, npm run lint

fix: cif according PR comments
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

fix: fix errors
  src/features/Login/ui/LoginForm.tsx
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
Due: npm run prettier:check, npm run lint

feat: rss ecomm products from url (#73)
  src/app/styles/index.scss
  src/features/Breadcrumbs/ui/Breadcrumbs.tsx
  src/features/Filters/ui/FilterItem.module.scss
  src/features/Filters/ui/FilterItem.tsx
  src/features/Filters/ui/SelectedItems/SelectedItems.module.scss
  src/features/Filters/ui/SelectedItems/SelectedItems.tsx
  src/features/Login/ui/LoginForm.tsx
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/services/getAdditionalInfo.ts
  src/pages/CatalogPage/model/services/getCategoriesByKey.ts
  src/pages/CatalogPage/model/services/getProductPath.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.module.scss
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProductPage/similarPrompts/similarPrompts.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getCategoryByKey.ts
  src/shared/api/requests/getFilterSortSearchProducts.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rework jest config, add tests for button and AddressCard (#74)
  __test__/components.test.tsx
  __test__/sharedComponents/AddressCard/addressCard.test.tsx
  __test__/sharedComponents/button/button.test.tsx
  jest.config.ts
  package.json
  src/shared/ui/AddressCard/AdressCard.tsx
Due: npm run prettier:check, npm run lint

feat: add api for cart
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/features/Login/index.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/model/types/Login.ts
  src/features/Login/ui/LoginForm.tsx
  src/pages/CartPage/index.ts
  src/pages/CartPage/model/services/cartThunk.ts
  src/pages/CartPage/model/slice/cartSlice.ts
  src/pages/CartPage/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/const/LocalStorage.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add page to router
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/pages/CartPage/index.ts
Due: npm run prettier:check, npm run lint

feat: rss ecomm 4 01 add to cart btn (#76)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/features/Login/index.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/model/types/Login.ts
  src/features/Login/ui/LoginForm.tsx
  src/pages/CartPage/index.ts
  src/pages/CartPage/model/services/cartThunk.ts
  src/pages/CartPage/model/slice/cartSlice.ts
  src/pages/CartPage/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CartPage/ui/CartPage.tsx
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/requests/loginUser.ts
  src/shared/api/requests/updateCart.ts
  src/shared/api/types/apiTypes.ts
  src/shared/const/LocalStorage.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: start InfiniteScroll
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchNextPart.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/requests/getAllProducts.ts
  src/shared/hooks/useInfiniteScroll.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add window.scrollTo(0, 0) to product page
  src/pages/ProductPage/ProductPage.tsx
Due: npm run prettier:check, npm run lint

feat: add space
  src/shared/api/requests/updateCart.ts
Due: npm run prettier:check, npm run lint

Feat/rss ecomm change product page (#77)
  src/pages/ProductPage/ProductPage.tsx
  src/shared/api/requests/updateCart.ts
Due: npm run prettier:check, npm run lint

feat: add infinite scroll
  package-lock.json
  package.json
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/shared/hooks/useInfiniteScroll.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rss ecomm 4 01 add to cart btn (#76)
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
Due: npm run prettier:check, npm run stylelint

feat: add Add To Cart functional on All Products Block
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/addToCart.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CartPage/index.ts
  src/pages/CartPage/model/services/cartThunk.ts
  src/pages/CartPage/model/slice/cartSlice.ts
  src/pages/CartPage/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/index.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/loader.gif
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add logic on Buttons state
  src/app/store/types/StateSchema.ts
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/addToCart.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/shared/api/index.ts
  src/shared/ui/button/button.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add promo cods section
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat/ rss ecomm 4 03 infinite scroll (#78)
  package-lock.json
  package.json
  src/pages/CatalogPage/model/selectors/catalogPageSelectors.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchNextPart.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/shared/api/requests/getAllProducts.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add ADd to Card functional, fix infinite scroll
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchNextPart.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: remove unnecesary flag from cartSchema
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
Due: npm run prettier:check, npm run lint

fix: add function call
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
Due: npm run prettier:check, npm run lint

feat: rss ecomm 4 02 add to cart (#79)
  src/app/store/config/store.ts
  src/app/store/types/StateSchema.ts
  src/entities/Cart/index.ts
  src/entities/Cart/model/selectors/cartSelectors.ts
  src/entities/Cart/model/services/addToCart.ts
  src/entities/Cart/model/slice/cartSlice.ts
  src/entities/Cart/model/types/Cart.ts
  src/pages/CartPage/index.ts
  src/pages/CartPage/model/services/cartThunk.ts
  src/pages/CartPage/model/slice/cartSlice.ts
  src/pages/CartPage/model/types/Cart.ts
  src/pages/CartPage/ui/CartPage.module.scss
  src/pages/CatalogPage/hooks/useCatalogPageFilters.ts
  src/pages/CatalogPage/model/services/fetchAllProducts.ts
  src/pages/CatalogPage/model/services/fetchNextPart.ts
  src/pages/CatalogPage/model/services/fetchProducts.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.module.scss
  src/pages/CatalogPage/ui/AllProductsBlock/AllProductsBlock.tsx
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/FiltersBlock/FiltersBlock.tsx
  src/shared/api/index.ts
  src/shared/api/requests/getFilterSortSearchProducts.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/loader.gif
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Path conditions:
  npm run prettier:check: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
