Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

feat: add registration form with fields validation
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/assets/images/reg_background.webp
  src/shared/const/Validation.ts
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: move type to shared folder
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/types/RegistrationSubmitData.ts
Due: npm run prettier:check, npm run lint

feat: add registration form (#23)
  src/app/styles/index.scss
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/assets/images/reg_background.webp
  src/shared/const/Validation.ts
  src/shared/types/RegistrationSubmitData.ts
  src/shared/ui/Select/Select.tsx
  src/shared/ui/Select/select.module.scss
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add ClientBuilder
  package-lock.json
  package.json
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/ui/LoginForm.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/index.ts
  tsconfig.json
  vite.config.ts
Due: npm run prettier:check, npm run lint

fix: fix clientBuild
  src/features/Login/model/services/loginByUsername.ts
  src/pages/LoginPage/LoginPage.module.scss
  src/shared/api/BuildClient.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix package.json
  package.json
Due: none

feat/add commercetools auth (#24)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/providers/ui/AppRouter.tsx
  src/app/styles/index.scss
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/slice/loginSlice.ts
  src/features/Login/model/types/LoginSchema.ts
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/NotFound/NotFound.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/index.ts
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  tsconfig.json
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change the image for the not found page and fix the parameter values for .main, and the login page
  src/app/styles/index.scss
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/shared/assets/images/header-img.jpg
  src/shared/assets/images/header1.jpg
Due: npm run prettier:check, npm run stylelint, npm run lint

Change the background (#25)
  package-lock.json
  package.json
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/shared/assets/images/header-img.jpg
  src/shared/assets/images/header1.jpg
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add commercetools base requests
  src/features/Login/index.ts
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/types/LoginSchema.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/index.ts
  src/features/Registration/model/types/Registration.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/index.ts
  src/shared/api/requests.ts
  src/shared/api/tokenHandlers.ts
  src/shared/api/types/apiTypes.ts
Due: npm run prettier:check, npm run lint

feat: add commercetools base requests (#26)
  src/features/Login/index.ts
  src/features/Login/model/services/loginByUsername.ts
  src/features/Login/model/types/LoginSchema.ts
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/index.ts
  src/features/Registration/model/types/Registration.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/api/BuildClient.ts
  src/shared/api/index.ts
  src/shared/api/requests.ts
  src/shared/api/tokenHandlers.ts
  src/shared/api/types/apiTypes.ts
Due: npm run prettier:check, npm run lint

feat: start mainPage, add main block
  package-lock.json
  package.json
  src/app/providers/ui/AppRouter.tsx
  src/app/styles/variables/global.scss
  src/app/types/global.d.ts
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/api/index.ts
  src/shared/assets/images/main_leaf.svg
  src/shared/ui/Icon/Icon.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add Card component
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add infoBlock
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/shared/assets/images/info_background.jpg
  src/shared/assets/images/mask.jpg
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/button/button.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: rework router
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint

feat: add mask to the image
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/info_background.jpg
  src/shared/assets/images/info_background.webp
  src/shared/assets/images/mask.jpg
  src/shared/assets/images/mask.svg
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add header
  package-lock.json
  package.json
  src/app/types/global.d.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/assets/images/headerLogo.png
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: change mask
  src/pages/MainPage/MainPage.module.scss
  src/shared/assets/images/mask.svg
Due: npm run prettier:check, npm run stylelint

feat: add header (#28)
  package-lock.json
  package.json
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/app/types/global.d.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/assets/images/headerLogo.png
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat/start main page (#27)
  package-lock.json
  package.json
  src/app/providers/ui/AppRouter.tsx
  src/app/styles/variables/global.scss
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/NotFound/NotFound.module.scss
  src/shared/api/index.ts
  src/shared/assets/images/info_background.webp
  src/shared/assets/images/main_leaf.svg
  src/shared/assets/images/mask.svg
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Icon/Icon.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add block add info in main, remove the name field from the login page
  package-lock.json
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/features/Login/ui/LoginForm.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/bottle.svg
  src/shared/assets/images/cloud.svg
  src/shared/assets/images/hands.svg
  src/shared/assets/images/product_1.png
  src/shared/assets/images/product_2.png
  src/shared/assets/images/product_3.png
  src/shared/assets/images/shop_more_background.png
  src/shared/ui/Icon/Icon.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: refactor Icon component
  src/shared/ui/Icon/Icon.tsx
Due: npm run prettier:check, npm run lint

refactor: delete main width, rename section, add clamp in width featuredProducts
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/add block in main (#29)
  package-lock.json
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
  src/features/Login/ui/LoginForm.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/bottle.svg
  src/shared/assets/images/cloud.svg
  src/shared/assets/images/hands.svg
  src/shared/assets/images/product_1.png
  src/shared/assets/images/product_2.png
  src/shared/assets/images/product_3.png
  src/shared/assets/images/shop_more_background.png
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add header to main page
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/features/Login/model/types/LoginSchema.ts
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/mask.svg
  src/widgets/Header/Header.module.scss
  src/widgets/index.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add header to main page (#30)
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/features/Login/model/types/LoginSchema.ts
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/mask.svg
  src/widgets/Header/Header.module.scss
  src/widgets/index.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add styles for main and info blocks, change mask again
  src/pages/MainPage/MainPage.module.scss
  src/shared/assets/images/main_leaf.webp
  src/shared/assets/images/mask.svg
Due: npm run prettier:check, npm run stylelint

fix: change main image
  src/pages/MainPage/MainPage.module.scss
  src/shared/assets/images/info_background.webp
Due: npm run prettier:check, npm run stylelint

feat: info block (#31)
  src/pages/MainPage/MainPage.module.scss
  src/shared/assets/images/info_background.webp
  src/shared/assets/images/main_leaf.webp
  src/shared/assets/images/mask.svg
Due: npm run prettier:check, npm run stylelint

feat: complete the card component, add cards of popular products
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/products_back.webp
  src/shared/assets/images/shop_more_background.png
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: change the formatting of the more button
  src/pages/MainPage/MainPage.module.scss
Due: npm run prettier:check, npm run stylelint

Feat/main block (#32)
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/icon_facebook.png
  src/shared/assets/images/icon_insta.png
  src/shared/assets/images/icon_ln.png
  src/shared/assets/images/icon_youtube.png
  src/shared/assets/images/products_back.webp
  src/shared/assets/images/shop_more_background.png
  src/shared/assets/video/background_video.mp4
  src/shared/ui/Card/Card.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change the formatting of the button component and appLink component
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add a catalog link for popular products
  src/pages/MainPage/MainPage.tsx
Due: npm run prettier:check, npm run lint

refactor: change the width of the product card 2
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/product_1.png
  src/shared/assets/images/product_2.png
Due: npm run prettier:check, npm run lint

feat: add social links
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/icon_insta.png
  src/shared/assets/images/icon_ln.png
  src/shared/assets/images/icon_telegram.png
  src/shared/assets/images/icon_youtube.png
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: delete icon ln
  src/shared/assets/images/icon_ln.png
Due: npm run prettier:check

feat: add property align-items: center; in card
  src/shared/ui/Card/Card.module.scss
Due: npm run prettier:check, npm run stylelint

Path conditions:
  npm run prettier:check: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
