Repository Suficks/eCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run stylelint, npm run lint

.lintstagedrc.json:

{
  "./src/**/*": "npm run prettier:check",
  "./src/**/*.{css,scss}": "npm run stylelint",
  "./src/**/*.{tsx,jsx,ts}": "npm run lint"
}

fix: add logo-link to login page
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: rework validation patterns
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/shared/const/Validation.ts
Due: npm run prettier:check, npm run lint

feat: send env to gh (bad idea)
  .env
  .gitignore
Due: none

fix: fix 404 page transition error
  src/app/providers/ui/AppRouter.tsx
  src/shared/ui/Logo/Logo.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add logo component to login page
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/Logo/Logo.module.scss
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add loading animation
  src/features/Login/ui/LoginForm.tsx
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add additional options in logo
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/Logo/Logo.module.scss
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rework header according to crosscheck rules
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

Feat/rss ecomm 2 20 implement 404 (#40)
  src/app/providers/ui/AppRouter.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/Logo/Logo.module.scss
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: rss ecomm crosscheck fixes (#39)
  .env
  .gitignore
  src/features/Registration/model/services/signUpThunk.ts
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/shared/api/requests/signUpUser.ts
  src/shared/const/Countries.ts
  src/shared/const/Validation.ts
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: add logo
  src/pages/LoginPage/LoginPage.tsx
Due: npm run prettier:check, npm run lint

feat: add loading animation (#41)
  src/features/Login/ui/LoginForm.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/loadingAnimation/loadingAnimation.module.scss
  src/shared/ui/loadingAnimation/loadingAnimation.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix validation errors
  src/features/Login/ui/LoginForm.tsx
  src/pages/LoginPage/LoginPage.tsx
Due: npm run prettier:check, npm run lint

refactor: remove link height, replace logo with component, change data in not found
  src/pages/MainPage/MainPage.module.scss
  src/pages/NotFound/NotFound.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add icon to input
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/shared/ui/input/input.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add netlify.toml and class to logo
  netlify.toml
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: delete netlify.toml
  netlify.toml
Due: none

feat: add class logo to header
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: remove link height, replace logo with component, change dat… (#42)
  src/pages/MainPage/MainPage.module.scss
  src/pages/NotFound/NotFound.tsx
  src/pages/RegistrationPage/RegistrationPage.module.scss
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: remove router animation
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint

feat: add "show password" checkbox
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix routing bug
  src/app/providers/ui/AppRouter.tsx
Due: npm run prettier:check, npm run lint

fix: fix netlify nested routing
  src/app/providers/ui/AppRouter.tsx
  vite.config.ts
Due: npm run prettier:check, npm run lint

feat/add logo to input (#43)
  src/features/Login/ui/LoginForm.module.scss
  src/features/Login/ui/LoginForm.tsx
  src/features/Registration/ui/RegistrationForm.module.scss
  src/features/Registration/ui/RegistrationFormUser.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/input/input.tsx
  vite.config.ts
Due: npm run prettier:check, npm run stylelint, npm run lint

fix: fix netlify nested routing
  public/_redirects
  vite.config.ts
Due: none

fix: fix netlify nested routing (#47)
  public/_redirects
  vite.config.ts
Due: none

fix: postal code placeholder
  src/features/Registration/ui/RegistrationFormUser.tsx
Due: npm run prettier:check, npm run lint

fix: postal code placeholder (#48)
  src/features/Registration/ui/RegistrationFormUser.tsx
Due: npm run prettier:check, npm run lint

refactor: place footer in a separate component
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/widgets/Footer/Footer.module.scss
  src/widgets/Footer/Footer.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: add blank lines
  src/shared/ui/modal/modal.scss
Due: npm run prettier:check, npm run stylelint

fix: fix active link
  src/pages/LoginPage/LoginPage.tsx
  src/shared/ui/AppLink/AppLink.module.scss
  src/widgets/Header/Header.module.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

Place footer in a separate component (#50)
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/ui/modal/modal.scss
  src/widgets/Footer/Footer.module.scss
  src/widgets/Footer/Footer.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: move headerImage to Header
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

refactor: change the format of the logo picture
  src/shared/assets/images/logo.png
  src/shared/assets/images/logo.svg
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run lint

refactor: change the format of the logo picture (#51)
  src/shared/assets/images/logo.png
  src/shared/assets/images/logo.svg
  src/shared/ui/Logo/Logo.tsx
Due: npm run prettier:check, npm run lint

feat: add mainBlock on catalog page
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/services/fetchCategories.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.module.scss
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/api/requests/getCategories.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/arrow_link.svg
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/modal/modal.scss
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add slider to mainBlock on catalogPage
  package-lock.json
  package.json
  src/app/styles/index.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: rss ecomm 3 01 start catalog page (#52)
  package-lock.json
  package.json
  src/app/providers/RouterConfig/RouteConfig.tsx
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/pages/CatalogPage/index.ts
  src/pages/CatalogPage/model/services/fetchCategories.ts
  src/pages/CatalogPage/model/slice/catalogSlice.ts
  src/pages/CatalogPage/model/types/Catalog.ts
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.module.scss
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/MainBlock/MainBlock.tsx
  src/pages/CatalogPage/ui/MainBlock/Slider.tsx
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.module.scss
  src/pages/MainPage/MainPage.tsx
  src/shared/api/requests/getCategories.ts
  src/shared/api/types/apiTypes.ts
  src/shared/assets/images/arrow_link.svg
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/AppLink/AppLink.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/button/button.module.scss
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint

feat: add Title component and productCard component
  src/pages/CatalogPage/ui/CatalogPage/CatalogPage.tsx
  src/pages/CatalogPage/ui/MainBlock/MainBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.module.scss
  src/pages/CatalogPage/ui/SalesBlock/SalesBlock.tsx
  src/pages/MainPage/MainPage.tsx
  src/shared/assets/images/sales-leaf.svg
  src/shared/assets/images/star.svg
  src/shared/ui/ProductCard/ProductCard.module.scss
  src/shared/ui/ProductCard/ProductCard.tsx
  src/shared/ui/Title/Title.module.scss
  src/shared/ui/Title/Title.tsx
Due: npm run prettier:check, npm run stylelint, npm run lint
